@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Navbar.js     #####################################################*/
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Main.js     #####################################################*/
#main {
  background: linear-gradient(to right,  #ecf0ff 0%,#ecf0ff 50%,#ffffff 50%,#ffffff 100%);
  height: 521px;
}

#hi {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
    text-align: center!important;
}

#myName {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5;
    color: #000;
    box-sizing: border-box; 
    display: block;
    text-align: center!important;
}

.txt-rotate {
  
  color: #3e64ff;
  text-decoration: underline;
}

#typeWrite {
  font-size: 32px;
  font-weight: 800;
    line-height: 1.5;
    color:#000;
}

/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Footer.js     #####################################################*/
.footerLink {
  text-decoration: none;
  color: #ffffff;
}

.footerLink:hover {
  text-decoration: none;
  color: #000000;
}