@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Navbar.js     #####################################################*/
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Main.js     #####################################################*/
#main {
  background: linear-gradient(to right,  #ecf0ff 0%,#ecf0ff 50%,#ffffff 50%,#ffffff 100%);
  height: 521px;
}

#hi {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
    text-align: center!important;
}

#myName {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5;
    color: #000;
    box-sizing: border-box; 
    display: block;
    text-align: center!important;
}


#typeWrite {
  font-size: 32px;
  font-weight: 800;
    line-height: 1.5;
    color:#000;
}

/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################     Footer.js     #####################################################*/
.footerLink {
  text-decoration: none;
  color: #ffffff;
}

.footerLink:hover {
  text-decoration: none;
  color: #000000;
}


/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    About.js     #####################################################*/
#aboutName {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
  text-align: center!important;
}

#aboutInfo {
  font-size: 24px;
  color: #000; 
  display: block; 
}

#about {
  background-color: #ecf0ff;
}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    Education.js     #####################################################*/
#Education {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}


.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}


li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    Projects.js     #####################################################*/
#Projects {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 4px;
}
.lead {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8em;
}

section.extra-features {
  color: #fff;
}

section.extra-features h2,
section.extra-features h3 {
  color: inherit;
}

section.extra-features .icon {
  font-size: 2.7rem;
  margin-bottom: 20px;
}

section.extra-features .item {
  padding: 50px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

section.extra-features .item:hover {
  background: #ff7e5f;
  -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

section.extra-features .item p {
  font-weight: 300;
  margin: 20px 0;
}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    Skills.js     #####################################################*/
.languages {
  font-size: 18px;
  font-weight: 600;
  color:#000000;
}



/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    Contact.js     #####################################################*/
.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}


/*#######################################################################################*/
/*#######################################################################################*/
/*#######################################################################################*/
/*#################    Social.js     #####################################################*/

.social {
  color: #dad3d3;
}

#social-fb:hover {
  color: rgb(70, 121, 233);
}

#social-g:hover {
  color: #000000;
}

#social-ig:hover {
  color: #e4147c;
}

#social-li:hover {
  color: #3B5998;
}

#social-so:hover {
  color: #f39c12;
}
